.container {
    display: flex;
    justify-content: left;
  }
  .sideBar {
    display: flex;
    flex-flow: column;
    width: 300px;
  }
  .link {
    display: block;
    margin: 1rem 0;
  }
  .linkActive {
    display: block;
    margin: 1rem 0;
    color: red;
  }
  .nav {
    background-color: #cae2f5;
    padding: 0 1rem;
  }